*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

#searchbarr{
    width: 32vw;
    height: fit-content;
    margin-left: 31vw;
    margin-top: 10vh;
}

#searchbar{
    width: 20vw;
    padding: 5px 5px 5px 10px;
    border-radius: 20px;
}

i{
    color: black;
    margin-left: -27px;
}

.fa-solid:hover{
    cursor: pointer;
}

#picture{
    height: 50vh;
    width: 35vw;
    border: 1px solid black;
    margin-left: 30vw;
    margin-top: 10vh;
    border-radius: 10px;
}

#picture img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

#button{
    margin-left: 10%;
    margin-top: 5vh;
}

#heart{
    height: 25px;
    width: 10vw;
    margin-top: 5vh;
    margin-left: 42vw;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heart span{
    margin-left: 10px;
}




/*---------------------- aside-------------------- */
aside{
    position: absolute;
    top: 10vh;
    right: 1vw;
    height: 80vh;
    width: 20vw;
    border: 1px solid black;
}
